#OPENAI_API_KEY=<Your OpenAI API Key>
#GEMINI_API_KEY="<Your Google API Key>"
DATABASE_URL="<Your database URL>"
DATABASE_PASSWORD="<Your database strong password>"
DATABASE_COLLECTION_NAME="<Your database collection name>"
LLM_API_KEY="<Your LLM API Key>"
LLM_BASE_URL="<Your LLM Base URL>"
LLM_PROVIDER="<Your LLM Provider>"
LLM_MODEL_NAME="<Your LLM Model>"
LLM_TEMPERATURE="<The LLM Temperature>"
LLM_EMBEDDING_PROVIDER="<Your LLM Embedding Provider>"
LLM_EMBEDDING_MODEL="<Your LLM Embedding Model>"